<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinador - Asignaturas</title>
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/coordinador/asignatura_home.css">
    <link rel="stylesheet" href="/css/coordinador/representante.css">
    <style>z
        /* Estilos para el contenido principal cuando hay un sidebar*/
        .content-main {
            margin-left: 220px;
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <header>
        <div id="left-header">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
            <h1>Coordinador Abiham Ramos</h1>
        </div>
    
        <!-- OPCIONES DEL HEADER ACA -->
        <div id="right-header">
            <a href="/auth/logout">Salir</a>
        <div>
    </header>
    
    <nav id="sidebar">
        <!-- OPCIONES DE LA SIDEBAR ACA -->
        <a href="/coordinador">Inicio</a>
        <a href="/coordinador/periodo">Periodos</a>
        <a href="/coordinador/asignatura" class="actual-link-sidebar">Asignaturas</a>
        <a href="/coordinador/carga-academica">Cargas Académicas</a>
        <a href="/coordinador/inscripcion">Inscripción</a>
        <a href="/coordinador/calificaciones">Calificaciones</a>
        <a href="/coordinador/docente">Docentes</a>
        <a href="/coordinador/estudiante">Estudiantes</a>
        <a href="/coordinador/representante">Representantes</a>
    </nav>
    
    <!-- ACÁ IRÁ EL CONTENIDO QUE SE MOSTRARÁ EN EL MEDIO DE LA PAGINA -->
    <main class="content-main">
        <h2>Gestión de Asignaturas</h2>
        <div class="card-agregar">
            <h3>Agregar Nueva Asignatura</h3>
            <form action="/coordinador/asignatura/crear" method="POST">
                <label for="asignatura">Nombre de la asignatura</label>
                <input type="text" name="asignatura" id="asignatura">
                <label for="codigo">Codigo</label>
                <input type="text" name="codigo">
                
                <fieldset>
                    <legend>Años en los que se imparte</legend>
                    <label>
                        <input type="checkbox" name="grados" value="1"> Grado 1
                    </label>
                    <label>
                        <input type="checkbox" name="grados" value="2"> Grado 2
                    </label>
                    <label>
                        <input type="checkbox" name="grados" value="3"> Grado 3
                    </label>
                    <label>
                        <input type="checkbox" name="grados" value="4"> Grado 4
                    </label>
                    <label>
                        <input type="checkbox" name="grados" value="5"> Grado 5
                    </label>
                </fieldset>

                <input type="submit" value="Agregar">
            </form>
        </div>

        <div class="card-tabla">
            <h3>Asignaturas Creadas</h3>
            <!--Crear una tabla con codigo, nombre y años/grados en los que se da la materia-->
            <table>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Grados</th>
                    <th></th>
                </tr>
                <%if (data.asignatura){%>
                    <%data.asignatura.forEach(asignatura => {%>
                        <tr>
                            <td><%=asignatura.codigo%></td>
                            <td><%=asignatura.nombre%></td>
                            <td>
                                <%asignatura.grados.forEach(grado => {%>
                                    <%=grado%>, 
                                <%})%>
                            </td>
                            <td><a href="/coordinador/asignatura/editar/<%= asignatura.id %>">Editar</a></td>
                        </tr>
                    <%})%>
                <%}%>
               
            </table>
            
        </div>
    </main>
    
    
    <footer>
        <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>