<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinador - Representantes </title>
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/coordinador/representante.css">
    <style>
        /* Estilos para el contenido principal cuando hay un sidebar*/
        
    </style>
</head>
<body>
    <header>
        <div id="left-header">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
            <h1>Colegio Santa Marta - Coordinación</h1>
        </div>
    
        <!-- OPCIONES DEL HEADER ACA -->
        <div id="right-header">
            <a href="/auth/logout">Salir</a>
        <div>
    </header>
    
    <nav id="sidebar">
        <!-- OPCIONES DE LA SIDEBAR ACA -->
        <a href="/coordinador">Inicio</a>
        <a href="/coordinador/periodo">Periodos</a>
        <a href="/coordinador/asignatura">Asignaturas</a>
        <a href="/coordinador/carga-academica">Cargas Académicas</a>
        <a href="/coordinador/inscripcion">Inscripción</a>
        <a href="/coordinador/calificaciones">Calificaciones</a>
        <a href="/coordinador/docente/crear" class="actual-link-sidebar">Docentes</a>
        <a href="/coordinador/estudiante">Estudiantes</a>
        <a href="/coordinador/representante">Representantes</a>
    </nav>
    
    <!-- ACÁ IRÁ EL CONTENIDO QUE SE MOSTRARÁ EN EL MEDIO DE LA PAGINA -->
    <main class="content-main">
        <div class="header-main">
            <a href="/coordinador/docente" class="nuevo">Regresar</a>   
        </div>
       
        
       

        <div class="card-representante">
            <div class="header-inside">
                <h2>Crear Docente</h2>
            </div>
            <form action="/coordinador/docente/crear" method="POST">
                <div class="content">
                    <div>
                        <label for="primer_nombre">Primer Nombre</label>
                        <input type="text" id="primer_nombre" name="primer_nombre">
                        <label for="segundo_nombre">Segundo Nombre</label>
                        <input type="text" id="segundo_nombre" name="segundo_nombre">
                        <label for="primer_apellido">Primer Apellido</label>
                        <input type="text" id="primer_apellido" name="primer_apellido">
                        <label for="segundo_apellido">Segundo Apellido</label>
                        <input type="text" id="segundo_apellido" name="segundo_apellido">
    
                        <label for="genero">Genero</label>
                        <select name="genero">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
    
                        <label for="cedula">Cedula</label>
                        <input type="text" id="cedula" name="cedula" oninput="validaNumericos();">

                        <script>
                            function validaNumericos() {
                                var inputCedula = document.getElementById('cedula');
                                var valor = inputCedula.value;
                                if (!/^\d{1,8}$/.test(valor)) {
                                    inputCedula.setCustomValidity('Por favor, ingresa un número de 8 digitos (si tiene 7 un 0 al inicio).');
                                } else {
                                    inputCedula.setCustomValidity('');
                                }
                            }
                        </script>
    
                        <label for="estado_civil">Estado Civil</label>
                        <select name="estado_civil">
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Divorciado">Divorciado</option>
                        </select>
    
                        <label for="titulo_academico">Titulo Académico</label>
                        <input type="text" name="titulo_academico">
                        <label for="especialidad">Especialidad</label>
                        <input type="text" name="especialidad">
    
                        <label for="tlfno">Teléfono</label>
                        <input type="text" id="tlfno" name="tlfno" oninput="validaNumTlfno();">

                        <script>
                            function validaNumTlfno() {
                                var inputTlfno = document.getElementById('tlfno');
                                var valor = inputTlfno.value;
                                if (!/^\d{1,11}$/.test(valor)) {
                               inputTlfno.setCustomValidity('Por favor, ingresa un numero de telefono valido .');
                               } else {
                               inputTlfno.setCustomValidity('');
                            }
                         }
                        </script>
    
    
                        <label for="tlfno2">Teléfono Alternativo</label>
                        <input type="text" id="tlfno2" name="tlfno2" oninput="validaNumTlfno2();">
                                                
                        <script>
                            function validaNumTlfno2() {
                                var inputTlfno2 = document.getElementById('tlfno2');
                                var valor = inputTlfno2.value;
                                if (!/^\d{1,11}$/.test(valor)) {
                               inputTlfno2.setCustomValidity('Por favor, ingresa un numero de telefono valido .');
                               } else {
                               inputTlfno2.setCustomValidity('');
                            }
                         }
                        </script>


                      
                    </div>
    
                    <div>
                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
    
                        <label for="ciudad_nacimiento">Ciudad de Nacimiento</label>
                        <input type="text" id="ciudad_nacimiento" name="ciudad_nacimiento">
                        <label for="estado_nacimiento">Estado de Nacimiento</label>
                        <input type="text" id="estado_nacimiento" name="estado_nacimiento">
                        <label for="pais_nacimiento" >Pais de Nacimiento</label>
                        <input type="text" id="pais_nacimiento" name="pais_nacimiento">
    
                        <label for="direccion_domicilio">Direccion Domicilio</label>
                        <input type="text" id="direccion_domicilio" name="direccion_domicilio">
    
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">
                        <label for="email2">Email Alternativo</label>
                        <input type="email" id="email2" name="email2">
    
                    </div>
                    
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" name="username" oninput="validaUsername();" required>

                    <script>
                        function validaUsername() {
                            var inputUser = document.getElementById('usuario');
                            var valor = inputUser.value;
                            if (valor.length !== 7) {
                                inputUser.setCustomValidity('El usuario debe contener 7 caracteres.');
                            }else{
                                inputUser.setCustomValidity('');
                            

                            }
                        }
                    </script>

                    <label for="contrasena">Contraseña</label>
                    <input type="text" id="contrasena" name="password" required>
                       
                </div>
                <input type="submit" value="Crear Docente">
            </form>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>