<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinador - Estudiantes</title>
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/coordinador/estudiante.css">
    <style>
        /* Estilos para el contenido principal cuando hay un sidebar*/
        
    </style>
</head>
<body>
    <header>
        <div id="left-header">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
            <h1>Colegio Santa Marta - Coordinación</h1>
        </div>
    
        <!-- OPCIONES DEL HEADER ACA -->
        <div id="right-header">
            <a href="/auth/logout">Salir</a>
        <div>
    </header>
    
    <nav id="sidebar">
        <!-- OPCIONES DE LA SIDEBAR ACA -->
        <a href="/coordinador">Inicio</a>
        <a href="/coordinador/periodo">Periodos</a>
        <a href="/coordinador/asignatura">Asignaturas</a>
        <a href="/coordinador/carga-academica">Cargas Académicas</a>
        <a href="/coordinador/inscripcion">Inscripción</a>
        <a href="/coordinador/calificaciones">Calificaciones</a>
        <a href="/coordinador/docente">Docentes</a>
        <a href="/coordinador/estudiante/crear" class="actual-link-sidebar">Estudiantes</a>
        <a href="/coordinador/representante">Representantes</a>
    </nav>
    
    <!-- ACÁ IRÁ EL CONTENIDO QUE SE MOSTRARÁ EN EL MEDIO DE LA PAGINA -->
    <main class="content-main">
        <div class="header-main">
            <a href="/coordinador/estudiante" class="nuevo">Regresar</a>
        </div>
       
        <div class="card-estudiante">
            <div class="header-inside">
                <h2>Crear Estudiante</h2>
            </div>

            <form action="/coordinador/estudiante/crear" method="POST">
                <div class="content">
                    <div>
                        <label for="primer_nombre">Primer Nombre</label>
                        <input type="text" id="primer_nombre" name="primer_nombre">
                        <label for="segundo_nombre">Segundo Nombre</label>
                        <input type="text" id="segundo_nombre" name="segundo_nombre">
                        <label for="primer_apellido">Primer Apellido</label>
                        <input type="text" id="primer_apellido" name="primer_apellido">
                        <label for="segundo_apellido">Segundo Apellido</label>
                        <input type="text" id="segundo_apellido" name="segundo_apellido">
    
                        <label for="genero">Genero</label>
                        <select name="genero">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
    
                        <label for="cedula">Cedula</label>
                        <input type="text" id="cedula" name="cedula" oninput="validaNumericos();">

                        

                        <script>
                            function validaNumericos() {
                                var inputCedula = document.getElementById('cedula');
                                var valor = inputCedula.value;
                                if (!/^\d{1,8}$/.test(valor)) {
                                    inputCedula.setCustomValidity('Por favor, ingresa un número de 8 digitos (si tiene 7 un 0 al inicio).');
                                } else {
                                    inputCedula.setCustomValidity('');
                                }
                            }
                        </script>
    
                        <label for="estado_civil">Estado Civil</label>
                        <select name="estado_civil">
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Divorciado">Divorciado</option>
                        </select>
    
                    </div>
    
                    <div>
                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
    
                        <label for="ciudad_nacimiento">Ciudad de Nacimiento</label>
                        <input type="text" id="ciudad_nacimiento" name="ciudad_nacimiento">
                        <label for="estado_nacimiento">Estado de Nacimiento</label>
                        <input type="text" id="estado_nacimiento" name="estado_nacimiento">
                        <label for="pais_nacimiento" >Pais de Nacimiento</label>
                        <input type="text" id="pais_nacimiento" name="pais_nacimiento">
    
                        <label for="direccion_domicilio">Direccion Domicilio</label>
                        <input type="text" id="direccion_domicilio" name="direccion_domicilio">

                        <label for="discapacidad">Discapacidad</label>
                        <input type="text"  name="discapacidad">
    
                    </div>
                </div>
                <input type="submit" value="Crear Estudiante">
            </form>

        </div>
    
    </main>
    
    
    <footer>
        <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>