<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Representante - Notas</title>
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/representante/consultar_notas.css">
    <style>
        /* Estilos para el contenido principal cuando hay un sidebar*/
        .content-main {
            margin-left: 220px;
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
    <header>
        <div id="left-header">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
            <h1>Colegio Santa Marta - Representantes</h1>
        </div>


        <div id="right-header">
            <a href="/auth/logout">Salir</a>
            <div>
    </header>

    <nav id="sidebar">

        <a href="/representante">Inicio</a>
        <a href="/representante/consultar-notas" class="actual-link-sidebar">Consultar Notas</a>

    </nav>

    <main class="content-main">
        <h2>Notas Acumuladas</h2>
        <div class="card-seleccionar">
            <form action="/representante/consultar-notas/buscar" method="GET">
                <select name="estudiante" id="estudiante">
                    <% var names=[]; %>
                        <% data.representados.forEach(representado=> {
                            representado.forEach(boletines => {
                            boletines.forEach(boletin => {
                            if (!names.includes(boletin.boletin.estudiante.nombre)) {
                            names.push(boletin.boletin.estudiante.nombre);
                            %>
                            <option value="<%= boletin.boletin.estudiante.id %>">
                                <%= boletin.boletin.estudiante.nombre %>
                            </option>
                            <% } }); }); }); %>
                </select>

                <select name="grado" id="anio">
                </select>
                <input type="submit" value="Consultar">
            </form>

        </div>

    </main>


    <footer>
        <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
    </footer>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const estudianteSelect = document.querySelector('#estudiante');
            const anioSelect = document.querySelector('#anio');
            const data = JSON.parse('<%- JSON.stringify(data) %>');


            const anioSelectAsignar = () => {
                const estudianteSeleccionado = estudianteSelect.value;

                const aniosDisponibles = data.representados
                    .flatMap(representado => representado || [])
                    .flatMap(boletines => boletines || [])
                    .filter(boletin => boletin.boletin.estudiante.id == estudianteSeleccionado)
                    .map(boletin => boletin.boletin.anio)
                   
                anioSelect.innerHTML = '';
                aniosDisponibles.forEach(anio => {
                    const option = document.createElement('option');
                    option.value = anio;
                    option.textContent = anio;
                    anioSelect.appendChild(option);
                });
            }


            estudianteSelect.addEventListener('change', function () {
                anioSelectAsignar();
            });

            anioSelectAsignar()

        });

    </script>
</body>

</html>