<!-- CSS INICIAL PARA APLICAR FUENTE Y AJUSTES PREDETERMINADOS-->
<!-- SIEMPRE COLOCAR ESTE ARCHIVO -->
<link rel="stylesheet" href="/css/init.css">
<link rel="stylesheet" href="/css/sidebar.css">

<link rel="stylesheet" href="/css/header_footer.css">

<style>
    /* Estilos para el contenido principal cuando hay un sidebar*/
    .content-main {
        margin-left: 220px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

</style>


<header>
    <div id="left-header">
        <a href="#"><img src="images/logo_v2.png" alt="logo"></a>
        <h1>Santa Marta</h1>
    </div>

    <!-- OPCIONES DEL HEADER ACA -->
    <div id="right-header">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    <div>
</header>

<nav id="sidebar">
    <!-- OPCIONES DE LA SIDEBAR ACA -->
     <a href="#">Inicio</a>
     <a href="#">Periodos</a>
     <a href="#">Asignaturas</a>
     <a href="#">Cargas Académicas</a>
     <a href="#">Calificaciones</a>
     <a href="#">Docentes</a>
     <a href="#">Estudiantes</a>
     <a href="#">Representantes</a>
</nav>

<!-- ACÁ IRÁ EL CONTENIDO QUE SE MOSTRARÁ EN EL MEDIO DE LA PAGINA -->
<main class="content-main">
    <h2> Se imaginan que vengan y te digan así de la nada</h2>
    <h3>Q rico programas vale</h3>
    <h4>JAJSDFJDJS me dicen eso y me desmayo</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut esse suscipit voluptate exercitationem officiis dolores tempore quos porro, nam nisi quia accusantium, quaerat dolore doloribus pariatur saepe amet minima. Molestias.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam vitae eveniet? Modi optio rerum ab consequuntur perspiciatis placeat eum reprehenderit atque cupiditate ducimus voluptatem, nulla vitae libero deleniti odit!</p>

    <table>
        <td>
            <tr>
                <th>Columna 1</th>
                <th>Columna 2</th>
                <th>Columna 3</th>
            </tr>
        </td>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
    </table>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum at labore odit non. Inventore, delectus atque asperiores quaerat aut, sed quia eaque aperiam culpa ex maxime hic modi, recusandae molestiae.</p>
</main>


<footer>
    <p>&copy; 2024. Colegio Santa Marta. Todos los derechos reservados.</p>
</footer>