
form {
    margin-top: 5%;
}

label {
    margin-top: 4%;
    margin-left: 20%;
    font-weight: bold;
}

input {
    margin-left: 5%;
    padding-left: 12%;
    padding-top: 1%;
    border: none;
    background-color: rgba(145, 143, 143, 0.671);
    border-radius: 20px;
    
}

button {
    margin-left: 4%;
    color: #ffffff;
    background-color: #03003f;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    }

    .card-tabla {
        background-color: #fff;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .card-tabla table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    
        & th, td {
            padding: 10px;
           
            text-align: center;
        }
    
        & th {
            background-color: #e0e0e0;
            font-weight: bold;
        }
    
        /* Estilo para las filas impares */
        & tr:nth-child(odd) {
            background-color: #f5f5f5;
        }
    
        .edit-button {
            background-color: #011140;
            color: #fff;
            font-weight: bold;
            border: none;
            padding: 5px 15px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
    
        .edit-button:hover {
            background-color: #0056b3;
        }
    }
    
footer {
    position: fixed;
    bottom: 0;
    right: 0;
 }