

     select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;

        /* Estilo para las opciones del select */
        & option {
            font-size: 15px;
        }

    }