<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="form-container">
        <h2>Iniciar Sesion</h2>
        <form action="" method="POST" id="form">
            <div class="form-group">
                <label for="Usuario">Usuario:</label>
                <input type="text" id="usuario" Usuario="nombreUsuario" placeholder="Introduzca su Usuario" >
            </div>
            <div class="form-group">
                <label for="Contraseña">Contraseña:</label>
                <input type="Contraseña" name="Contraseña" id="Contraseña" placeholder="Introduzca su Contraseña" >
            </div>
            <div class="Recuerdame-btn">
                <label><input type="checkbox">Recuerdame</label>

            </div>
            <button type="submit" class="submit-btn">Iniciar Sesion</button>
            
        </form>
    </div>
</body>
</html>