
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="css/styles.css">



 <body>

    <header class="header">
      <a href="/images/logo.png" class="logo">
         <box-icon type='solid' name='school'></box-icon>Colegio Santa Marta</a>
         <input type="checkbox" id="menu">
         <label for="menu"> <img class ="menu-icono" src="images/menu.png" alt=""> </label>
        <nav class="nav">
          <a href="/auth/login">Inicia Sesión</a>
          <a href="/auth/signup">Regístrate</a>

        </nav>
        
    </header>


   
    <div class="div">
        <img src="/images/SM.png" alt="">
        <img src="/images/arre.png" alt="">
        
    </div>
    
    

    <footer class="footer" id="contacto">
      <div class="footer-info">
        <p>Dirección: Urb. Las Antillas, Puerto Ordaz, Venezuela</p>
        <p>Teléfono: (+58) 412-789-7324</p>
        <p>Email: info@colegiosantamarta.com</p>
      </div>
      <div class = "copyrigth">
      <p>&copy; 2024 Colegio Santa Marta. Todos los derechos reservados.</p>
      <div>
        
    </footer>





 </body>

</html>