<%- include("../templates/header", {title: "Trinidad"}) %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="css/styles.css">
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


 <body>

    <header class="header">
      <a href="#" class="logo">
         <box-icon type='solid' name='school'></box-icon>Escuela Santa Marta</a>
        <nav class="nav">
          <a href="Representante">Representante</a>
          <a href="Docente">Docente</a>
          <a href="Coordinador">Coordinador</a>

        </nav>
        
    </header>
    
 </body>

</html>