<%- include("../templates/header", {title: "Trinidad"}) %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="css/styles.css">
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


 <body>

    <header class="header">
      <a href="#" class="logo">
         <box-icon type='solid' name='school'></box-icon>Escuela Santa Marta</a>
         <input type="checkbox" id="menu">
         <label for="menu"> <img class ="menu-icono" src="images/menu.png" alt=""> </label>
        <nav class="nav">
          <a href="Coordinador">Iniciar Sesión</a>

        </nav>
        
    </header>
    
    

    <footer class="footer" id="contacto">
      <div class="footer-info">
        <p>Dirección: Calle Falsa 123, Ciudad, País</p>
        <p>Teléfono: (123) 456-7890</p>
        <p>Email: info@escuelasantamarta.com</p>
        <div class="social">
          <a href="#"><box-icon type='logo' name='facebook'></box-icon></a>
          <a href="#"><box-icon type='logo' name='twitter'></box-icon></a>
          <a href="#"><box-icon type='logo' name='instagram'></box-icon></a>
        </div>
      </div>
      <div class = "copyrigth">
      <p>&copy; 2024 Escuela Santa Marta. Todos los derechos reservados.</p>
      <div>
        <label for="logo"> <img class ="logo-footer" src="images/logo.png" alt=""> </label>
    </footer>





 </body>

</html>