<!DOCTYPE html>

<html>
    <head>
       <meta charset="utf-8">
       <title>Login</title>
       <link rel="stylesheet" href="/css/style-login.css">
       <link rel="icon" href="">
    </head>
    <body>
        
        <div class="login">
            <img src="/images/logo.png" alt="LOGO">
            <h2>Iniciar Sesión</h2>
            <form action="Iniciar Sesion">
                
                <label for="Usuario">Usuario</label>
                <input type="text">
                
                <label for="Clave">Contraseña</label>
                <input type="password">

                <button type="submit">Entrar</button>
            </form>
        </div>


    </body>
</html>