<!DOCTYPE html>

<html>
    <head>
       <meta charset="utf-8">
       <title>SignUp</title>
       <link rel="stylesheet" href="/css/style-signup.css">
       <link rel="icon" href="">
    </head>
    <body>
        
        <div class="login">
            <img src="/images/logo.png" alt="LOGO">
            <h2>Regístrate</h2>
            <form action="/auth/signup" method="POST">

                <label for="CI">Cédula</label>
                <input type="text" name="cedula">
                
                <label for="Usuario">Usuario</label>
                <input type="text" id="usuario" name="username" oninput="validaUsername();">

                
                <script>
                    function validaUsername() {
                        var inputUser = document.getElementById('usuario');
                        var valor = inputUser.value;
                        if (valor.length !== 7) {
                            inputUser.setCustomValidity('El usuario debe contener 7 caracteres.');
                        }else{
                            inputUser.setCustomValidity('');
                        

                        }
                    }
                </script>
                
                <label for="Clave">Contraseña</label>
                <input type="password" name="password">

                <button type="submit">Entrar</button>
            </form>
        </div>


    </body>
</html>